body {
	font-family: 'Muli', sans-serif;
	font-weight: bold;
}
nav {
	color: white;
	background-color:#333a35;
	width: 1200px;
	display: flex;
	align-items: center;
}
nav > div {
	text-transform: uppercase;
	/* border: 1px solid white; */
	margin: 10px 20px;
}
nav>div>a:link, nav>div>a:visited {
	color: white;
	text-decoration: none;
}
nav>div>a:hover {
	color: #eca419;
} 
nav>div>a:active {
	color: white;
	text-decoration: none;
}
.logo {
	height: 50px;
}
.fas, .fab {
	color:#eca419;
	font-size: x-large;
}
.fas:hover, .fab:hover {
	color: white;
}
h2 {
	color: white;
	margin: 6%;
}
.featureContainer {
	display: flex;
}
.rightStack {
	display: flex;
	flex-direction: column;
}
.imgText {
	display: flex;
	align-items: flex-end;
}
.feature1 {
	background-image: url("desert780x477.jpg");
	width: 780px;
	height: 477px;
}
.feature1 > h2 {
	font-size: 38pt;
	justify-content: center;
	text-align: center;
	padding: 3%;
	border-bottom: 2px solid rgb(202, 127, 7);
}
.feature2 {
	background-image: url("stream420x240.jpg");
	width: 420px;
	height: 240px;
}
.feature3 {
	background-image: url("relax420x237.jpg");
	width: 420px;
	height: 237px;
}
a.hover {
	color:#eca419;
}
.photoStrip {
	width: 1140px;
	display: flex;
	justify-content: space-evenly;
	margin: 30px;
}
.photoStripImg {
	width: 279px;

	height: 183px;
}
.photoStripItem {
	width: 279px;
	text-transform: uppercase;
	/* border: 1px solid black; */
}